.container {
    background-color: gainsboro;
    margin: 10px;
    padding: 10px;
    text-align: center;
    width: auto;
   
}
.content {
    background-color: whitesmoke;
}

h4 {
    font-size: large;
    padding: 15px;
    border-bottom-width: thin;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

input {
    background-color: purple;
    color: white;
    border: black;
    border-width: 5px;
    border-radius: 20px;
    margin: 5px;

}